@model SettingViewModel

@if (Model.AnyError)
{
	<div class="alert alert-info" role="alert">Nieprawidłowe obecne hasło, lub pola nie zgadzają się</div>
}

<div class="row loginForm">
	<div class="col-md-8 col-md-offset-2">
		<h2>Zaloguj się aby przejrzeć/ocenić recenzję:</h2>
		<form asp-controller="Settings" asp-action="Account" method="post" class="form-horizontal" role="form">
			<div class="form-group">
				<label asp-for="OldPassword" class="col-md-2 control-label">Stare hasło</label>
				<div class="col-md-10">
					<input asp-for="OldPassword" class="form-control" />
					<span asp-validation-for="OldPassword" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="NewPassword" class="col-md-2 control-label">Nowe Hasło</label>
				<div class="col-md-10">
					<input asp-for="NewPassword" class="form-control" />
					<span asp-validation-for="NewPassword" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="ConfirmPassword" class="col-md-2 control-label">Potwierdź Nowe Hasło</label>
				<div class="col-md-10">
					<input asp-for="ConfirmPassword" class="form-control" />
					<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group pull-right formPullRightButton">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" class="btn btn-success" value="Log in" />
				</div>
			</div>
		</form>
		<form asp-controller="Settings" asp-action="Account" method="post" class="form-horizontal" role="form">
			<div class="form-group">
				<label asp-for="Email" class="col-md-2 control-label">Stary Email</label>
				<div class="col-md-10">
					<input asp-for="Email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Email" class="col-md-2 control-label">Nowy Email</label>
				<div class="col-md-10">
					<input asp-for="Email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
			</div>
		</form>
	</div>
</div>