@model SettingViewModel
@{
	ViewData["Title"] = "Ustawienia";
}


<div class="row loginForm">
	<div class="col-md-8 col-md-offset-2">
		<h2>Zmień hasło:</h2>
		@if (Model.AnyError)
		{
			<div class="alert alert-info" role="alert">Nieprawidłowe obecne hasło, lub pola nie zgadzają się</div>
		}
		<form asp-controller="Settings" asp-action="Account" method="post" class="form-horizontal" role="form">
			<div class="form-group">
				<label asp-for="OldPassword" class="col-md-2 control-label">Stare hasło</label>
				<div class="col-md-10">
					<input asp-for="OldPassword" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label asp-for="NewPassword" class="col-md-2 control-label">Nowe Hasło</label>
				<div class="col-md-10">
					<input asp-for="NewPassword" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label asp-for="ConfirmPassword" class="col-md-2 control-label">Potwierdź Nowe Hasło</label>
				<div class="col-md-10">
					<input asp-for="ConfirmPassword" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" class="btn btn-success" value="Zmień hasło" />
				</div>
			</div>
			<hr />
		</form>
		@*<form asp-controller="Settings" asp-action="Email" method="post" class="form-horizontal" role="form">
			<div class="form-group">
				<label asp-for="Email" class="col-md-2 control-label">Nowy Email</label>
				<div class="col-md-10">
					<input asp-for="Email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Token" class="col-md-2 control-label">Token</label>
				<div class="col-md-10">
					<input asp-for="Token" class="form-control" />
					<span asp-validation-for="Token" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" class="btn btn-success" value="Zmień mail" />
				</div>
			</div>
		</form>*@
	</div>
</div>