@{
	ViewData["Title"] = "Błąd";
}
<h3>Wygląda na to, że wystąpił problem. Wyślij na mail administratora co robiłeś zanim się tu dostaleś aby pomóc w rozwoju i poprawie serwisu.</h3>
<h3>Możliwe przyczyny:</h3>
<h2>Link do twojego zgłoszenia jest nieprawidłowy.</h2>