@model  ListViewModel


<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Student</th>
			<th>Tytuł recenzji</th>
			<th class="text-right">Status</th>
			<th class="text-right">Szczegóły</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var line in Model.Forms)
		{
		<tr>
			<td class="text-center">@line.StudentMail - Index</td>
			<td class="text-right">@line.Title</td>
			<td class="text-right">@line.Title</td>
			<td class="text-right">@line.Title</td>
			<td class="text-center"><a class="glyphicon glyphicon-remove text-danger remove"></a></td>
		</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3" class="text-right">Total:</td>
			<td class="text-right">
				Czesc
			</td>
		</tr>
	</tfoot>
</table>