@model FormViewModel
@{
	ViewData["Title"] = "Stwórz Formularz";
}


<h2>Fomularz Recenzji</h2>

<h5>Wyślij formularz recenzji. Podani przez ciebie Recenzenci poddadzą wysłaną przez ciebie pracę.</h5>
<hr />
@if (!Model.NoError)
{
	<div class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
}
<div class="row">
	<div class="col-md-6">
		<form asp-controller="Form" asp-action="Create" method="post" class="form-horizontal" role="form">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Title" class="control-label">Tytuł</label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ReviewType" class="control-label">Typ Pracy</label>
				<div class="text-danger">
					@Html.DropDownListFor(m => m.ReviewType, Model.ReviewTypeList, new { @class = "dropdown-header form-control" })
				</div>
			</div>
			<div class="form-group">
				<label asp-for="ShortDescription" class="control-label">Krótki opis</label>
				<textarea asp-for="ShortDescription" class="form-control"></textarea>
				<span asp-validation-for="ShortDescription" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StudentMail" class="control-label">Twój Mail</label>
				<input asp-for="StudentMail" class="form-control" />
				<span asp-validation-for="StudentMail" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Department" class="control-label">Wydział</label>
				<div class="text-danger">
					@Html.DropDownListFor(m => m.Department, Model.DepartmentList, new { @class = "dropdown-header form-control" })
				</div>
			</div>
			<div class="form-group">
				<label asp-for="ReviewerName" class="control-label">Mail Recenzenta</label>
				<input asp-for="ReviewerName" class="form-control" />
				<span asp-validation-for="ReviewerName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="GuardianName" class="control-label">Mail Opiekuna</label>
				<input asp-for="GuardianName" class="form-control" />
				<span asp-validation-for="GuardianName" class="text-danger"></span>
			</div>
			<hr />
			<div class="form-group">
				<input type="submit" value="Utwórz formularz" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index" asp-controller="Home">Wróć</a>
</div>

